</main>
<footer>
<div id="contact" class="py-3">
    <div class="container">
        <h2>Contact Us</h2>
        <p><i class="fas fa-phone-alt"></i> 0717368474</p>
        <p><i class="fas fa-envelope"></i> <a href="mailto:kabare3r@gmail.com">kabare3r@gmail.com</a></p>
    </div>
</div>
</footer>

        if(response)
            script.
                var msg = "#{response.msg}"
                var code = "#{response.code}"
                if(code == 0){
                    alertify.error(msg)
                }else{
                    alertify.success(msg)
                }
                console.log(msg)

</body>

</html>