</main>
<footer>
<div id="contact" class="py-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-8">
                <h2>Contact Us</h2>
                <p><i class="fas fa-phone-alt"></i> 0717368474</p>
                <p><i class="fas fa-envelope"></i> <a href="mailto:kabare3r@gmail.com">kabare3r@gmail.com</a></p>
            </div>
            <div class="col-4">
                <div class="social">
                    <a href="javascript:void(0)"><i class="fab fa-facebook-square"></i></a>
                    <a href="javascript:void(0)"><i class="fab fa-twitter-square"></i></a>
                    <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>

        if(response)
            script.
                var msg = "#{response.msg}"
                var code = "#{response.code}"
                if(code == 0){
                    alertify.error(msg)
                }else{
                    alertify.success(msg)
                }
                console.log(msg)

</body>

</html>
