style.
    .underline{text-decoration: underline;}
<div id="landing">
    <h1>Find It Easy</h1>
    <h3>Experience Accomodation In An Easy And Fun Way</h3>
    <p>The easiest way to get your short and long term accomodation.</p>
    hr
    //h3(class = "text-success underline") #{context}
</div>
