<div id="how-it-works" class="py-5">
    <div class="container">
        <h2>How It Works</h2>
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-2">
                            <h1>1</h1>
                        </div>
                        <div class="col-10">
                            <h4>Search and Select</h4>
                            <p>Select the location that you prefer to have your residence. Enter the preferred price and personal details.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-2">
                            <h1>2</h1>
                        </div>
                        <div class="col-10">
                            <h4>Submit</h4>
                            <p>Submit/Click Explore</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-2">
                            <h1>3</h1>
                        </div>
                        <div class="col-10">
                            <h4>Confirmation</h4>
                            <p>You will be contacted with regards to your application within a max of 3 working days. Options will be handed in to you. Pictures and written info of the landlord will be sent.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-deck">

            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-2">
                            <h1>4</h1>
                        </div>
                        <div class="col-10">
                            <h4>Reservation</h4>
                            <p>You will book your reservation through us to your landlord.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-2">
                            <h1>5</h1>
                        </div>
                        <div class="col-10">
                            <h4>Move In</h4>
                            <p>After making the required down-payment to the landlord, you can move in.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>